<div class="vol">
      Num_Vol: <span style="color:orange"> </span>  &nbsp; &nbsp; &nbsp;   Avion:  <span style="color:orange"></span><br>
      Ville de Départ:  <span style="color:orange"> </span>  &nbsp; &nbsp; &nbsp;
       Ville d'arrivée: <span style="color:orange"> </span>


        <br> Date et heure de départ: <span style="color:orange"> </span>à <span style="color:orange"> </span> &nbsp; &nbsp;&nbsp; 
         Date et heure d'arrivée: <span style="color:orange"></span>à <span style="color:orange"> </span>
      <br>
       Nombre de places disponibles: <span style="color:orange"></span>
      <br>
      
    <div style="display:flex;" class="form-button mt-3">
      <button id="submit" type="submit" class="btn btn-warning"><a style="color:white;" href="#">Réserver</a></button>
    </div>
</div>

